<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Programación de <%= title %></h1>
    <p>Todos os eventos culturais en Compostela</p>
    <p><a href="/actos/acto">Actos para hoy</a></p>
  </body>
</html>
