<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Programación de <%= title %></h1>
    <p>Todos os eventos culturais en Compostela</p>
  </body>
</html>
