<h2>Novo usuario</h2>

<form method="post" action="/novousu">
<fieldset>
	<div class="field">
		<label for="usuario">Usuario:</label>
		<input type="text" id="usuario" name="usuario" size="30" /><br />
	</div>
	
	<div class="field">
		<label for="password">Contrasinal:</label>
		<input type="password" id="password" name="password" size="30" />
	</div>

	<div class="field">
		<label for="email">Email:(*)</label>
		<input type="email" id="email" name="email" size="50" />
	</div>
	
	<div class="actions">
		<input name="commit" type="submit" value="Entrar" />
	</div>
</fieldset>
</form>
<h5>(*) O Email nunca se publicará</h5>