* {
  margin: 0;
  padding: 0;
}
body, textarea, input {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#page-wrap{
  margin: 2% auto;
  color: white;
}
#page-wrap > .main {
	border: 1px solid #999;
	padding: 1%;
	margin-bottom: 1px;
	color: black;
}
section > div{
	padding: 20px;
}
header,nav,section{
	background: #eee;
	text-align: center;
	font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}
footer{
	background: #eee;
	text-align: center;
}
nav span{
	margin: 0px 5px 0px 0px;
}
a {
  color: #00B7FF;
}
table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
}
#anulado{
	background-image: url(../images/anulado.gif);
}
th{
	text-align: center;
}
article{
	text-align: left;
	height: 100%;
}
#form{
	width: 600px;
	padding: 0 5px;
	margin: 0 auto;
	background: #00B7FF;
	text-align: left;
}
#formEdit{
	width: 600px;
	padding: 0 5px;
	margin: 0 auto;
	text-align: left;
	background-color: #FAAC58;
}
div label{
	width: 25%;
	float: left;
}
div #botons{
	padding-top: 10px;
	text-align: center;
}
#ErrorMsgs{
	color: #f61;
	font-size: small;
}
#erros{
	color: red;
}
div #coment{
	clear: both;
	padding: 10px;
	text-align: center;
	background-color: #F79F81;
}
.caixa{
	padding: 0px;
	width: 300px;
	height: 300px;
	float: left;
}
.imaxe{
	max-width: 100%;
	height: auto;
}
.right{
	float: right;
	padding-right: 10px;
}
.left{
	float: left;
	width: 10%
}
div label{
	text-align: right;
}
.field{
	text-align: left;
	padding-left: 60px
	margin-left: 60px;
	margin-top: 10px;
	margin-bottom: 10px
}
.field > input{
	margin-left: 10px;
}
.field > label{
	margin-left: 50px;
}
.cabeceira{
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #000000;
	width: 20%;
	text-align: center;
	float: left;
}
.titulo {
	text-align: center;
	display: inline-block;
}
.titulo > img{
	width: 75px;
	height: 100px;
}
div.clear{
	clear: both;
}
span.usuario{
	color: red;
}
