<h2>Acceso</h2>

<form method="post" action="/login">
<fieldset>
	<div class="field">
		<label for="login">Usuario:</label>
		<input type="text" id="login" name="login" size="30" /><br />
	</div>
	
	<div class="field">
		<label for="password">Contraseña:</label>
		<input type="password" id="password" name="password" size="30" />
	</div>
	
	<div class="actions">
		<input name="commit" type="submit" value="Entrar" />
	</div>
</fieldset>
</form>